package advent2020.${pkg}

import advent2020.ProgressReceiver

interface ${className}Part1ProgressReporter : ProgressReceiver {
}

interface ${className}Part2ProgressReporter : ProgressReceiver {
}

suspend fun part1(input: String, receiver: ProgressReceiver): String {
    val lines = input.trim().lines()

    TODO()
}

suspend fun part2(input: String, receiver: ProgressReceiver): String {
    val lines = input.trim().lines()

    TODO()
}

